* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.headerContainer {
    max-width: 900px;
    margin: 40px auto;
}

.container {
    display: flex;
    max-width: 900px;
    margin: auto;
}

.leftSide {
    flex: 1;
    margin-right: 40px;
}

.rightSide {
    flex: 1;
    margin-left: 40px;
}